body {
	margin: 10px 10px 10px 10px;
	padding: 0px 0px 0px 0px;
	color: black;
	text-align: left;
	font-weight: normal;
	font-size: 0.9em;
	font-style: normal;
	font-family: monospace, serif;
	max-width: 1024px;
	background-color: #dddddd;
}

.container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

.content {
	margin: 10px 10px 10px 10px;
	padding: 0px 0px 0 0px;
	max-width: 1024px;
	background-color: #dddddd;
	border: 1px solid #dddddd;
}

.header {
	margin: 0px 0px 0px 0px;
	padding: 10px 0 8px 0px;
	color: black;
	text-align: center;
	font-weight: normal;
	font-size: 1.0em;
	font-style: normal;
	max-width: 1024px;
	height: 20px;
	background-color: #bbbbbb;
}

.homepage {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	color: black;
	text-align: left;
	font-weight: normal;
	font-size: 0.9em;
	font-style: normal;
	max-width: 1024px;
	height: 20px;
	background-color: #bbbbbb;
}

.footer {
	margin: 0px 0px 0px 0px;
	padding: 10px 0 8px 0;
	color: black;
	text-align: center;
	font-weight: normal;
	font-size: 0.9em;
	font-style: normal;
	max-width: 1024px;
	height: 20px;
	background-color: #bbbbbb;
}

.imprint {
	margin: 0px 0px 0px 0px;
	padding: 0px 0 10px 0;
	color: black;
	text-align: center;
	font-weight: normal;
	font-size: 0.9em;
	font-style: normal;
	max-width: 1024px;
	height: 10px;
	background-color: #bbbbbb;
}

.top {
	text-align: right;
	font-style: italic;
	font-weight: normal;
	font-size: 1.0em;
	color: #000000;
}

img {
	background: white;
	width: 95%;
	height: auto;
}

figure {
	text-align: center;
}

figcaption {
	text-align: center;
	font-weight: normal;
	font-size: 0.9em;
	font-style: normal;
	color: black;
}

.imgleft {
	max-width: 256px;
}

.imgleft300 {
	max-width: 300px;
}

ul,
ol,
dl {}

ul.nav {
	margin: 0px 0px 5px;
	padding: 0px;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
}

ul.nav a,
ul.nav a:visited {
	padding: 5px 5px 5px 10px;
	display: block;
	text-decoration: none;
	color: #000000;
	background-color: #cccccc;
}

ul.nav a:hover,
ul.nav a:active,
ul.nav a:focus {
	background-color: #ffa100;
	color: #000000;
}

table {
	border-collapse: separate;
	border-spacing: 0.0em;
	width: 90%;
}

th,
td {
	padding: 0.2em 0.5em;
	border-radius: 0.1em;
}

thead th {
	background-color: #ffebe6;
	color: #c32e04;
}

td {
	font-style: normal;
	text-align: left;
}

td:empty {
	box-shadow: none;
}

tbody tr:hover,
tfoot tr:hover {
	background-color: #ffffff;
}

tbody td:hover,
tfoot td:hover {
	background-color: #ffffff;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
	color: red;
}

a:active {
	text-decoration: none;
	color: red;
}

a:visited {
	text-decoration: none;
}

.nav-titel {
	margin: 10px 0;
	color: #000000;
	text-align: center;
	text-decoration: none;
	font-size: 1.0em;
}

h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 1.2em;
	color: brown;
	
}

h2 {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 1.2em;
	color: brown;
}

h3 {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	text-decoration: normal;
	font-size: 1.0em;
	color: brown;
}

h4 {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	text-decoration: normal;
	font-size: 1.0em;
	color: brown;
}

p {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 1.0em;
	color: #000000;
}

important {
	padding: 5px;
	border: thin solid red;
	text-align: left;
	font-style: italic;
	font-weight: normal;
	font-size: 1.0em;
	color: #000000;
}

blockquote {
	padding: 5px;
	border: thin solid blue;
	text-align: left;
	font-style: italic;
	font-weight: normal;
	font-size: 1.0em;
	color: #000000;
}

reference {
	text-align: left;
	font-style: italic;
	font-weight: normal;
	font-size: 0.8em;
	color: brown;
}

me {
	text-align: left;
	font-style: italic;
	font-weight: normal;
	font-size: 0.8em;
	color: black;
}

red {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	color: red;
}

code {
	font-family: monospace;
    font-style: italic;
    font-weight: normal;
	font-size: 1.1em;
    color: brown;
}

abbr {

}

pre {

}

